@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nerko+One&family=Playwrite+AU+TAS:wght@100..400&family=Shadows+Into+Light&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
  /* background-image: linear-gradient(90deg,rgba(245, 245, 220, 1) 0%, rgba(240, 240, 170, 1) 50%, rgba(209, 199, 111, 1) 100%) !important; */
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 800 !important;
  font-style: normal !important;
  /* max-width: 1280px; */
  /* text-align: center; */
  overflow: hidden;
  
}
#root{
  margin: 0;
  padding: 0;
}

