@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Nerko+One&family=Playwrite+AU+TAS:wght@100..400&family=Shadows+Into+Light&display=swap');


/* NAVBAR */
.navbar{
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
  margin-top: 0;
}

.navbar-body{
  /* background-color: blue; */
  border-radius: 20px; 
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 15px #b3b3b2;
  min-height: 10vh;
}
.brand-name{
  margin: 0 0 0 13px;
}


#home{
  display: contents;
}
.nav-link{
  font-size: 1.4rem !important;
  font-weight: 500;
  /* font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-style: normal; */
}
.nav-brand-name h4{
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  
}


/* HERO SECTION */
.hero {
  /* position: relative;
  width: 100px;
  height: 100px; */
  /* background: #ffcc00;
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(255, 204, 0, 0.6); */
  
}
.hero-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px !important;
  /* align-items: center; */
}

.hero-content h1{
  font-family: "Playwrite AU TAS", cursive;
  font-size: 5rem;
  margin: 0 0 20px 0;
}
.hero-content h2{
  font-size: 3.2rem;
}
.hero-content h3{
  font-size: 2.5rem;
}

/* From Uiverse.io by zjssun */ 
.button {
  position: relative;
  padding: 10px 22px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #e8e8a9;
  transition: all 0.2s ease;
  text-decoration: none;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #e8e8a9 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.hero-image{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px !important;
}




/* Petal 1 */
/* .hero::before {
  content: "";
  position: absolute;
  top: 35px;
  left: -3px;
  width: 200px;
  height: 200px;
  border: 50px solid #e8e8a9;
  border-left: none;
  border-radius: 50% 50% 0 0;
  z-index: -1;
}
.hero::after {
  content: "";
  position: absolute;
  top: 180px;
  left: -20px;
  width: 244px;
  height: 34px;
  background: #e8e8a9;
  transform: rotate(45deg);
  transform-origin: left bottom;
  border-radius: 15px;
    
  z-index: -1;
} */

/* Stem */
/* .hero::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100px;
  background: #5cb85c;
  left: 42px;
  top: 100px;
  border-radius: 10px;
} */

